/* "modal" style inspired by files_videoplayer (https://github.com/nextcloud/files_videoplayer/blob/master/css/style.css) */

#files-3d-outer {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #4c4c4c;
	background-color: rgba(0, 0, 0, .7);
	z-index: 3000;
}

#files-3d-container {
	position: relative;
	width: 95%;
	height: 80%;
	margin: 0 auto;
	color: #4d4d4d;
	background: none;
	box-shadow: 0 0 20px #222;
	z-index: 3001;
}

#files-3d-container:before {
	content: "";
	display: block;
	margin-top: 5%;
}
